@import "tailwindcss";

@theme {
  --color-brand-navy: #162e5b;
  --color-brand-navy-dark: #0f1f3d;
  --color-brand-navy-light: #20417e;
  --color-brand-green: #80b833;
  --color-brand-green-hover: #70a42a;
  --color-brand-green-light: #f3f9eb;
  --color-brand-green-border: #c8e49b;
}

@media print {
  body {
    background-color: white !important;
    color: black !important;
  }

  header, footer, nav, button, .no-print {
    display: none !important;
  }
}
